{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <h1>git test</h1>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
    <p>Welcome, new user. Please log in.</p>
    {% endif %}
    <img src="{% static 'yerin.jpeg' %}" alt="">
    {% for blog in blogs.all %}
    <div class="container">
        <h2>{{ blog.title }}</h2>
        <p>{{ blog.pub_date }}</p>
        {% if blog.photo %}
        <img src="{{ blog.photo.url }}">
        {% endif %}
        <p>{{ blog.summary }}<a href="{% url 'detail' blog.id %}">...more</a></p>
    </div>
    {% endfor %}
{% endblock %}